# =========================
# AI / YOLO関連の大容量データ
# =========================
datasets/
weights/
runs/
*.pt
*.engine
*.onnx

# =========================
# Python関連の不要ファイル
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# =========================
# OS / エディタ関連
# =========================
.vscode/
.DS_Store
Thumbs.db